{{#if hasCode}}
<h5>您已追蹤此股票，您可以更新以下數據</h5>
{{else}}
<h5>請輸入希望小幫手提醒您的價格</h5>
{{/if}}
{{#if code}}
<input type="hidden" name="code" id="code" value="{{code}} {{name}}">
{{else}}
<div class="form-group">
  <label for="code" class="col-sm-3">股票代號: </label>
  <input list="nameList" name="code" id="code">
  <datalist id="nameList">
  </datalist>
</div>
{{/if}}
<div class="form-group">
  <label for="openPrice" class="col-sm-3">收盤價格低於: </label>
  <input type="number" name="openPrice" id="openPrice" value="{{openPrice}}">
</div>
<div class="form-group">
  <label for="dividendYield" class="col-sm-3">殖利率高於: </label>
  <input type="number" name="dividendYield" id="dividendYield" value="{{dividendYield}}">
</div>

<input type="hidden" name="userId" id="userId">
{{#if hasCode}}
<button onclick="update(this)" class="btn btn-outline-dark">提交</button>
{{else}}
<button onclick="follow(this)" class="btn btn-outline-dark">提交</button>
{{/if}}

{{#if code}}
{{else}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module" src="/getCode.js"></script>
{{/if}}
<script type="module" src="/followLiff.js"></script>