{{#if isUser}}
<li>
  <a href="/follow?code={{code}}&name={{name}}&isUser={{isUser}}">更新追蹤股票「{{name}}」</a>
</li>
<li>
  <button data-toggle="modal" data-target="#unfollowModal" id="unfollow">取消追蹤股票「{{name}}」</button>
</li>

<input type="hidden" name="code" id="code" value="{{code}}">
<input type="hidden" name="name" id="name" value="{{name}}">
<input type="hidden" name="userId" id="userId">

<div class="modal fade" id="unfollowModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">取消追蹤股票</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        請問您確定要取消追蹤股票「{{name}}」嗎?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark cancel-btn" data-dismiss="modal">取消</button>
        <button onclick="unfollow(this)" class="btn btn-dark confirm-btn">確定</button>
      </div>
    </div>
  </div>
</div>
{{else}}
<li>
  <a href="/follow?code={{code}}&name={{name}}&isUser={{isUser}}">新增追蹤股票「{{name}}」</a>
</li>
{{/if}}